# Python virtual environment
venv/
env/
ENV/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Logs
*.log

# macOS system files
.DS_Store
.AppleDouble
.LSOverride 